@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .carousel-button {
    color: black;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    background-color: rgb(253, 224, 71);
    border: 1px solid black;
  }
}
